@import "../../style/variables";

.skill-card-column {
    text-align: center;
    width: 1fr !important;

    .card {
        height: 255px;
        
        & > svg {
            margin: 0 auto;

            @media screen and (min-width: $lg) {
                width: 60px;
                height: 50px;
            }
            @media screen and (max-width: $lg - 1px) {
                width: 70px;
                height: 60px;
            }
        }

        & > div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            div.card-title {
                font-style: italic;

                @media screen and (min-width: $lg) and (max-width: $xl - 1px) {
                    font-size: 21px;
                }
                @media screen and (max-width: $lg - 1px) {
                    font-size: 25px;
                }
            }

            p.card-text {
                font-family: "Hind Siliguri", "sysytem-ui", "sans-serif";
                
                @media screen and (min-width: $lg) and (max-width: $xl - 1px) {
                    font-size: 14px;
                }
            }
        }
    }
}