@import "../../style/variables";
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');

.featured-project-section {
    overflow-x: hidden;
    z-index: 1;

    @media screen and (min-width: $lg) {
        position: relative;
        bottom: 30px;
    }
    
    .featured-project-content-container {
        .featured-project-content-row {
            & > div {
                padding: 0;
                
                @media screen and (max-width: $lg - 1px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            div:first-child {
                & > span {
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $hero-purple;
                    letter-spacing: 3px;

                    @media screen and (max-width: 330px) {
                        font-size: 12px;
                    }
                }

                a {
                    display: inline-block;
                    margin-bottom: 16px;
                    font-size: 30px;
                    color: black;

                    @media screen and (max-width: 330px) {
                        font-size: 25px;
                    }
                }

                p {
                    font-family: "Hind Siliguri", "sysytem-ui", "sans-serif";
                    font-size: 22px;
                    line-height: 25px;

                    @media screen and (min-width: $lg) {
                        margin-right: 90px;
                    }
                    @media screen and (min-width: $sm) and (max-width: $lg - 1px) {
                        width: 67%;
                    }
                    @media screen and (max-width: $sm - 1px) {
                        margin: 0 20px 16px 20px;
                    }
                    @media screen and (max-width: 378px) {
                        font-size: 15px;
                    }
                }
            }

            div:last-child {
                a {
                    display: inline-block;
                    
                    @media screen and (max-width: $lg - 1px) {
                        width: 67%;
                    }
                    @media screen and (max-width: $sm - 1px) {
                        width: 80%;
                    }

                    img {
                        border-radius: 25px;
                        filter: brightness(80%);
                        max-height: 330px;
                    }
                }
            }
        }
    }
}
img {
    width: 500px;
}