@import "../../style/variables";

.navbar {
    background-color: $navbar-purple;

    & > .container {
        justify-content: unset !important;

        .navbar-collapse {
            @media screen and (min-width: $lg) {
                flex-basis: example !important; // added to remove flex-basis from navbar-collapse
            }
            @media screen and (max-width: $lg - 1px) {
                flex-basis: auto;
            }
        }

        .social-header {
            @media screen and (min-width: $lg) {
                width: 37%;
                position: relative;
                left: 5%;
            }

            svg {
                width: 30px;
                height: 30px;
                fill: black;
            }
        }
    }
}