$navbar-purple: #6700EE;
$hero-purple: #6E00FF;
$pink: #FF64CB;
$light-blue: #00F7FF;
$gray: #C4C4C4;
$white: #FFFFFF;

// min width of bootstrap breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;